<button (click)="navigateToAdd()" mat-fab class="mat-fab-add">
    <mat-icon>add</mat-icon>
</button>
<div class="table-wrapper" *ngIf="contacts">
    <mat-table [dataSource]="contacts.data">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
            <mat-cell *matCellDef="let contact">{{ contact.id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef>First name</mat-header-cell>
            <mat-cell *matCellDef="let contact">{{ contact.firstName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef>Last name</mat-header-cell>
            <mat-cell *matCellDef="let contact">{{ contact.lastName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
            <mat-cell *matCellDef="let contact">
                {{ contact.emailAddress || "-" }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
            <mat-cell *matCellDef="let contact">{{ contact.address || "-" }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef>Phone number</mat-header-cell>
            <mat-cell *matCellDef="let contact">
                {{ contact.phoneNumber || "-" }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let contact">
                <button (click)="editContact(contact.id)" mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="deleteContact(contact.id)" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: visibleColumns"></mat-row>
    </mat-table>


    <mat-paginator [length]="contacts.totalItems" [pageSize]="contacts.perPage" [pageSizeOptions]=" [5, 10, 20, 30]"
        (page)=" onPaginateChange($event)" aria-label="Select page" showFirstLastButtons>
    </mat-paginator>
    <div *ngIf="spinnerLoading" class="spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
</div>